<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><img src="/img/dnata_big.png" alt="logo" height="50px"></h1>
      <hr>  
      <h1 class="text-dark">Safety cards app</h1>
      <em class="text-secondary">See something?</em> <strong class="text-primary">Say something!</strong>
      <hr>
      <p>Designed for dnata colleagues.<strong> Require registration!!! </strong> Please contact administrators or your line manager to obtaing login data</p>
      <hr>
      <p>If you are registered, please login to proceed!</p>
      <br>

      <a href="/users/login" class="btn btn-primary btn-block">Login</a>
    </div>
  </div>
</div>

